.slide {
    display: none;
  }
  
  .slide.slide--current {
    display: block;
  }
 
.analytics-container { 
  display: grid;
}
.chart-cont {
   width: 70vw;
}

.analytics-container div{   
  margin: 2vw;
  align-items: center;
}
.problem-card { 
  background-color: white; 
  width: 80%; 
  border: 1px solid #E2E2E2; 
  margin: 0px 0px 5px 10%; 
  padding: 15px;
}
  @media screen and (min-width: 768px) { 
    .analytics-container  { 
        display: grid; 
        
        grid-template-columns: 1fr;
        padding: 2vh;
        align-items: center;
        justify-content: space-around;
    }
   .analytics-container div {   
        display: flex;
        flex-direction: column;
        justify-content: center;

   }     
  .problem-card { 
    background-color: white; 
    width: 60%; 
    border: 1px solid #E2E2E2; 
    margin: 0px 0px 5px 10%; 
    padding: 15px;
   }
   .on-icons{ 
          display:flex; 
          align-items: flex-end;
    }


.chart-cont {
  width: 50%;
}
    .analytics-container div{   
          margin: 2vw;
      }
}

.tabs ul { 

  display: flex;
  justify-content: space-around;
}
.tabs ul li { 
  list-style-type: circle;

}
.votes-cont { 

    display: flex;
    margin-right: 0.5vw;
    margin-left: 0.5vw;

}