<div class= "container">
  <p id="notice"><%= notice %></p>

  <% @problems.each do |problem| %>
    <%= render 'problem_card', problem: problem%>
  <% end %>
</div>
<div style="position: absolute; top: 15%; left: 70%; right: 5%;">
<div>Similar questions</div>
<div style="width: 100%; height: 1px; background-color: #949494; margin-bottom: 10px;"></div>
<div style="color: blue; font-size: 14px; margin-bottom: 10px;">Slovenian companies enjoying cheaper access rights to river in Slovenia?</div>
<div style="color: blue; font-size: 14px; margin-bottom: 10px;">What of European standards concerning maximum voltage for machines to be sold in France?</div>
<div style="display: flex;">
  <i class="fas fa-plus" style="color: blue; margin-right: 5px; margin-top: 3px;"></i><p style="color: blue;">Add new question</p>
</div>
</div>
