<div class= "container products-container">
  <p id="notice"><%= notice %></p>
<div>
  <% @problems.each do |problem| %>
    <%= render 'problem_card', problem: problem%>
  <% end %>
</div>
<div style="" class="suggestions">
  <%= render 'shared/suggestions'%>
</div>
