<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "add a problem", new_problem_url, class: "btn btn info" %>

<%= form_tag problems_path, method: :get do %>
    <div class="search-bar">
      <%= text_field_tag :query, params[:query], placeholder: "What are you searching for?", autocomplete:"off" %>
    </div>
<% end %>

