.navbar {
  width: 100%;
  background-color: white;
}
.navbarContent {
  width: 90%;
  margin-left: 10%;
}

.navbar-logo {
  width: 120px;
  margin-left: 10%;
}
.nav-link {
  color: #949494 !important;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 5px;
}
.navOption{
  display:flex;
  margin-right: 10px;
}
.search-bar-nav {
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  padding: 0 10px 0 10px;
}
.navbarButton {
  background-color: #004494;
  border-radius: 6px;
  p {
    color: white;
    margin: 0;
    padding: 3px 10px 3px 10px;
  }
}

.modal-dialog{
  max-width: 800px;
}

// .modal-content{
//   border-radius: 1%;

// }
// } 

.modal-body{
text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

ul .tips-list{
  list-style-image: asset_path('Check-icon.png');
}

