// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/form";

@font-face {
    font-family: 'dosisextrabold';
    src: url('dosis-extrabold-webfont.woff2') format('woff2'),
         url('dosis-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}